@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    outline: none;
}

.appear-animated{
    opacity: 0;
    animation: appear .4s ease forwards;
    transition: all .3s;
    &:hover{
        background-color: rgba(128, 128, 128, 0.151);
    }
    @for $var from 1 to 20 {
        &:nth-child(#{$var}){
            animation-delay: $var * 20ms;
        }
    }
}


@keyframes appear{
    from{
        transform: scale(.9);
        opacity:.5;

    }
    to {
        transform: scale(1);
        opacity:1;
    }
}